<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/kanban.css'/>
    <link rel='stylesheet' href='/vendor/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css'/>
    <link rel='stylesheet' href='/vendor/bootstrap-select/dist/css/bootstrap-select.min.css'/>
    <link rel="stylesheet" href='/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css' />
    <script>window.username = '<%= userName %>';</script>
</head>
<body>

<% include _header %>

<div id="toolbar" class="navbar-inverse" data-bind="visible: true" style="display: none">
    <div class="navbar-collapse collapse">
        <h1 class="navbar-text" id="project-name"><%= displayTitle %></h1>
        <div class="sync-status navbar-text">
            <!-- ko if: $root.project.github().sync -->
            <span class="label label-primary">同期ON</span>
            <!-- /ko -->
            <!-- ko ifnot: $root.project.github().sync -->
            <span class="label label-default">同期OFF</span>
            <!-- /ko -->
        </div>
        <div class="btn-group navbar-left" role="group" id="toolbar-btn-group">
            <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#add-issue-modal" data-bind="tooltip: { title: '新規タスク作成', placement: 'bottom' }">
                <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> <span class="sr-only">Add task</span>
            </button>
            <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#members-settings-modal" data-bind="tooltip: { title: 'メンバー管理', placement: 'bottom' }">
                <span class="glyphicon glyphicon-user"></span> <span class="sr-only">Members</span>
            </button>
            <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#project-labels-modal" data-bind="tooltip: { title: 'ラベル管理', placement: 'bottom' }">
                <span class="glyphicon glyphicon-tags"></span> <span class="sr-only">Labels</span>
            </button>
            <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#project-settings-modal" data-bind="tooltip: { title: 'プロジェクト管理', placement: 'bottom' }">
                <span class="glyphicon glyphicon-cog"></span> <span class="sr-only">Settings</span>
            </button>
            <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#project-stats-modal" data-bind="tooltip: { title: '統計', placement: 'bottom' }">
                <span class="glyphicon glyphicon-stats"></span> <span class="sr-only">Stats</span>
            </button>
            <button type="button" class="btn btn-default navbar-btn" data-bind="visible: viewMode() === 'full', click: viewMode.bind(this, 'compact'), tooltip: { title: 'コンパクトモードに変更', placement: 'bottom' }">
                <span class="glyphicon glyphicon-resize-small"></span> <span class="sr-only">Compact View</span>
            </button>
            <button type="button" class="btn btn-default navbar-btn" data-bind="visible: viewMode() === 'compact', click: viewMode.bind(this, 'full'), tooltip: { title: 'フルモードに変更', placement: 'bottom' }">
                <span class="glyphicon glyphicon-resize-full"></span> <span class="sr-only">Full View</span>
            </button>
        </div>
        <form class="navbar-form navbar-left search-form" role="search">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="e.g., 'cost:5' , 'bugfix'" data-bind="textInput: searchQuery">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </form>
        <div class="navbar-text" data-bind="if: loginMember() && loginMember().workingIssues().length">
            <span class="user-working-message alert alert-success">
                <span class="glyphicon glyphicon-play-circle"></span> 作業中です。
                (<span data-bind="text: loginMember().workingTimeFormat()"></span>経過)
            </span>
        </div>
        <div class="navbar-right" role="group" id="joined-members-group">
            <ul data-bind="foreach: {
                data: _.uniq(joinedMembers()),
                afterAdd: view.effects.fadeIn,
                beforeRemove: view.effects.fadeOut }">
                <li data-bind="tooltip: { title: username, placement: 'bottom' }">
                    <img data-bind="attr: { src: avatarUrl }" class="user-avatar" src="" width="34" height="34">
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="loader" data-bind="visible: false" style="display: block"></div>

<div id="main" class="main" data-bind="visible: true, css: {'compact': viewMode() === 'compact'}" style="display: none">
    <div class="blocks">
        <ul class="stage-blocks">
            <% stages.forEach(function (stage) { %>
                <% if(stage.name == 'todo'){ %>
                    <li id="three-stage-blocks">
                        <ul class="inner-stage-blocks">
                <% } %>
                <li id="<%= stage.name %>-block" class="stage-block">
                    <h2 class="stage-title">
                        <%= stage.displayName %> <span class="badge" data-bind="text: $root.stages.<%= stage.name %>().length"></span>
                        <% if(stage.name == 'done') { %>
                        <a href="#" class="all-done-archive-button" data-toggle="modal" data-target="#archive-all-modal">Archive all</a>
                        <% } %>
                        <span></span>
                    </h2>

                    <% if (stage.assigned) { %>
                        <ul class="cell-block" data-bind="foreach: {
                            data: members,
                            afterRender: view.MiniMenu.init,
                            afterAdd: view.effects.slideDown,
                            beforeRemove: view.effects.slideUp }">
                            <li class="dummy-user-cell-block" data-bind="visible: visible"></li>
                        </ul>
                    <% } else { %>
                        <ul class="cell-block" data-bind="
                        sortable: {
                            data: $root.draggableList.<%= stage.name %>.issues,
                            afterRender: view.MiniMenu.init }">
                            <li class="card" draggable="true" data-bind="visible: visible">
                                <div class="card-right-wrapper">
                                    <% include _minimenu %>
                                    <!-- ko if: cost() >= 1 -->
                                    <div class="weight-badge" data-bind="text: cost, css: {
                                        'weight-badge-low'   : cost() === 1,
                                        'weight-badge-middle': cost() === 3,
                                        'weight-badge-high'  : cost() === 5 }"></div>
                                    <!-- /ko -->
                                </div>
                                <ul class="card-label-block" data-bind="foreach: { data: labels }">
                                    <li class="card-label-inner-block">
                                        <div class="card-label" data-bind="
                                            style: { 'background-color': '#' + color() },
                                            tooltip: { title: name, placement: 'right' }"></div>
                                    </li>
                                </ul>

                                <div class="card-title-wrap" data-toggle="modal" data-target="#issue-detail-modal" data-bind="click: $root.selectedIssue">
                                    <span class="card-title" data-bind="text: displayTitle"></span>
                                </div>
                            </li>
                        </ul>
                    <% } %>
                </li>
                <% if(stage.name == 'review'){ %>
                    </ul>
                    <div class="user-block-area">

                        <ul class="user-blocks" data-bind="foreach: { data: members, as: 'member' }">
                            <li class="user-block" data-bind="visible: member.visible">
                                <div class="user-label-area">
                                    <span class="user-name">
                                        <img data-bind="attr: { src: member.avatarUrl }" class="user-avatar" src="" width="24" height="24">
                                        <b data-bind="text: userName"></b>
                                        <span data-bind="text: '(' + member.wip() + '/' + member.wipLimit() + ')'"></span>
                                        <a href="#" class="user-settings-button"
                                           data-toggle="modal" data-target="#user-settings-modal"
                                           data-bind="click: $root.selectedMember">
                                            <span class="glyphicon glyphicon-cog" area-hidden="true"></span>
                                        </a>
                                    </span>

                                    <span class="user-working-message alert alert-success" data-bind="visible: member.workingIssues().length">
                                        <span class="glyphicon glyphicon-play-circle"></span> 作業中です。
                                        (<span data-bind="text: member.workingTimeFormat()"></span>経過)
                                    </span>

                                    <span class="wip-limited-message alert alert-warning" data-bind="visible: member.isWipLimited">
                                        <span class="glyphicon glyphicon-warning-sign"></span> WIP制限に達しています。
                                    </span>
                                </div>

                                <ul class="stage-blocks" data-bind="foreach: { data: <%= assignedStageNamesJSON %>, as: 'stage' }">
                                    <li class="stage-block">
                                        <div class="user-cell-block">
                                            <!-- ko with: $root.draggableList[stage][member._id()] -->
                                            <ul class="card-list" data-bind="
                                                    sortable: { data: issues, afterRender: view.MiniMenu.init }">
                                                <li class="card" draggable="true" data-bind="visible: ($index() < 2 || !$parent.isCollapse()) && visible()">
                                                    <div class="card-right-wrapper">
                                                        <% include _minimenu %>
                                                        <!-- ko if: cost() >= 1 -->
                                                        <div class="weight-badge" data-bind="text: cost, css: {
                                                            'weight-badge-low'   : cost() === 1,
                                                            'weight-badge-middle': cost() === 3,
                                                            'weight-badge-high'  : cost() === 5 }"></div>
                                                        <!-- /ko -->
                                                    </div>
                                                    <ul class="card-label-block" data-bind="foreach: { data: labels }">
                                                        <li class="card-label-inner-block">
                                                            <div class="card-label" data-bind="
                                                                style: { 'background-color': '#' + color() },
                                                                tooltip: { title: name, placement: 'right' }"></div>
                                                        </li>
                                                    </ul>
                                                    <div class="card-title-wrap" data-toggle="modal" data-target="#issue-detail-modal" data-bind="click: $root.selectedIssue">
                                                        <!-- ko if: stage() === 'doing' -->
                                                        <span class="glyphicon glyphicon-play-circle issue-working-icon" data-bind="
                                                            click: $root.onClickToggleWorkOnCard,
                                                            css: {'issue-working-active': isWorking}"></span>
                                                        <!-- /ko -->
                                                        <span class="card-title" data-bind="text: displayTitle, css: { 'is-working': stage() === 'doing' }"></span>
                                                    </div>
                                                </li>>
                                            </ul>

                                            <a href="#" class="each-all-issues-view-button" data-bind="
                                                    click: toggleCollapse, visible: issues().length > 2">
                                                <span class="glyphicon" data-bind="css: {
                                                    'glyphicon-collapse-down': isCollapse(),
                                                    'glyphicon-collapse-up': !isCollapse()
                                                }"></span>
                                                <span data-bind="text: isCollapse() ? 'Expand ' : 'Collapse '"></span>
                                                <span class="badge" data-bind="text: issues().length"></span>
                                            </a>
                                            <!-- /ko -->
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- .user-block-area -->
                    </li>
                <% } %>
            <% }); %>
        </ul>

    </div>

    <% include alert %>

    <div id="activity-wrap">
        <div id="activity" class="scroll-wrap">
            <ul data-bind="foreach: { data: chatTexts, afterAdd: view.effects.scrollDown }">
                <li data-bind="text: $data"></li>
            </ul>
        </div>
    </div>
</div>

<!-- Issue Detail Modal -->
<div class="modal fade" id="issue-detail-modal" tabindex="-1" role="dialog" aria-labelledby="issue-detail-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="issue-detail-modal-label">Issue Detail</h4>
            </div>
            <form class="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="issue-detail-title" class="control-label">
                            <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> タイトル
                        </label>
                        <!-- ko if: $root.selectedIssue() -->
                        <!-- ko with: $root.selectedIssue() -->
                        <div class="issue-detail-all-work-time-wrapper alert alert-info"
                             data-bind="tooltip: { placement:'right', title: '合計作業時間' }">
                            <span class="glyphicon glyphicon-time"></span>
                            <span data-bind="text: allWorkTimeFormat"></span>
                        </div>
                        <!-- ko if: assigneeMember() && stage() === 'doing' && assigneeMember().userName() !== '<%= userName %>' -->
                        <div class="issue-detail-is-working-wrapper" data-bind="tooltip: { placement:'right',
                            title: '作業状態です。「作業中」にすると作業時間が計測されます。' }">
                            <input type="checkbox" id="issue-detail-is-working" class="pull-right" data-size="mini" data-on-text="作業中"
                                   data-off-text="待機中" data-on-color="success" data-bind="
                                   bootstrapSwitchOn: $root.updateIssueDetailIsWorking"
                                   data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                        </div>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- /ko -->
                        <input type="text" class="form-control" id="issue-detail-title" placeholder="Title"
                           data-bind="value: $root.updateIssueDetailTitle">
                    </div>

                    <div class="form-group">
                        <label for="issue-detail-body" class="control-label">
                            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> 説明
                        </label>
                        <textarea class="form-control" rows="15" id="issue-detail-body" placeholder="Body"
                                  data-bind="value: $root.updateIssueDetailBody"></textarea>
                    </div>

                    <!-- ko if: $root.selectedIssue() -->
                    <!-- ko with: $root.selectedIssue() -->
                    <div class="form-group">
                        <label for="issue-detail-stage" class="control-label">
                            <span class="glyphicon glyphicon-road" aria-hidden="true"></span> Stage
                        </label>
                        <p class="form-control-static" id="issue-detail-stage" data-bind="text: stage"></p>
                    </div>

                    <div class="form-group">
                        <label for="issue-detail-assign" class="control-label">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Assign
                        </label>
                        <p class="form-control-static" id="issue-detail-assign"
                           data-bind="text: assigneeMember() ? assigneeMember().userName : '(None)'"></p>
                    </div>

                    <div class="form-group issue-detail-cost-wrap" data-bind="css: { 'has-error': $root.updateIssueWillBeOverWipLimit() }">
                        <label for="issue-detail-cost" class="control-label">
                            <span class="glyphicon glyphicon-scissors"></span> Cost
                        </label>
                        <select id="issue-detail-cost" class="form-control" data-bind="value: $root.updateIssueDetailCost">
                            <option value="0">Nothing selected</option>
                            <option value="1">1 (Low)</option>
                            <option value="3">3 (Middle)</option>
                            <option value="5">5 (High)</option>
                        </select>
                        <span class="text-danger" data-bind="visible: $root.updateIssueWillBeOverWipLimit()">WIP制限を超すためコストを変更できません。</span>
                    </div>

                    <div class="form-group">
                        <label for="issue-detail-labels" class="control-label">
                            <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Labels
                        </label>
                        <select id="issue-detail-labels" multiple data-bind="selectPicker: $root.updateIssueDetailLabels,
                                optionsText: 'name',
                                selectPickerOptions: {optionsArray: $root.labels}
                                "></select>

                        <ul class="issue-labels-view" data-bind="foreach: $root.updateIssueDetailLabels">
                            <li>
                                <span class="label label-default" data-bind="
                                        style: { color: '#' + invertMonoColor(), 'background-color':  '#' + color() },
                                        text: name">Default</span>
                            </li>
                        </ul>
                    </div>

                    <div data-bind="if: github && github().url" class="form-group">
                        <a target="_blank" data-bind="attr: { href: github().url }">
                            <span class="glyphicon glyphicon-link" aria-hidden="true"></span> GitHub
                        </a>
                    </div>

                    <div class="form-group">
                        <label for="issue-detail-work-history" class="control-label">
                            <span class="glyphicon glyphicon-time"></span> Work History
                            <!-- ko if: $root.issueDetailWorkHistoryMode() === 'view' -->
                            <!-- ko if: isWorking -->
                            <button class="btn btn-sm edit-work-history btn-primary disabled" data-bind="
                                    tooltip: { placement:'right', title: '作業中は編集できません。' }">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </button>
                            <!-- /ko -->
                            <!-- ko ifnot: isWorking -->
                            <button class="btn btn-sm edit-work-history btn-primary" data-bind="click: $root.onClickWorkHistoryEditMode">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </button>
                            <!-- /ko -->

                            <!-- /ko -->
                            <!-- ko if: $root.issueDetailWorkHistoryMode() === 'edit' -->
                            <button class="btn btn-sm edit-work-history btn-success"
                                    data-bind="click: $root.onClickWorkHistorySave, enable: $root.canClickWorkHistorySave">
                                <span class="glyphicon glyphicon-ok"></span> Save
                            </button>
                            <button class="btn btn-sm edit-work-history btn-danger" data-bind="click: $root.onClickWorkHistoryCancel">
                                <span class="glyphicon glyphicon-remove"></span> Cancel
                            </button>
                            <!-- /ko -->
                        </label>
                        <div class="table-responsive" id="issue-detail-work-history">
                            <table class="table">
                                <!-- ko if: $root.issueDetailWorkHistoryMode() === 'view' -->
                                <thead>
                                <tr><th>StartTime</th><th>EndTime</th><th>Duration</th><th>User</th></tr>
                                </thead>
                                <tbody data-bind="foreach: workHistory">
                                <tr>
                                    <td data-bind="text: startTimeFormat"></td>
                                    <td data-bind="text: endTimeFormat"></td>
                                    <td data-bind="text: duration"></td>
                                    <td data-bind="text: userName"></td>
                                </tr>
                                </tbody>
                                <!-- /ko -->
                                <!-- ko if: $root.issueDetailWorkHistoryMode() === 'edit' -->
                                <thead>
                                <tr><th>StartTime</th><th>EndTime</th><th>Duration</th><th>User</th><th>#</th></tr>
                                </thead>
                                <tbody data-bind="foreach: $root.updateIssueDetailWorkHistory">
                                <tr>
                                    <td data-bind="css: { 'has-error': !isValidStartTime() }">
                                        <input type="datetime" class="form-control" data-bind="value: startTimeFormat">
                                    </td>
                                    <td data-bind="css: { 'has-error': !isValidEndTime() }">
                                        <input type="datetime" class="form-control" data-bind="value: endTimeFormat">
                                    </td>
                                    <td data-bind="text: duration"></td>
                                    <td data-bind="css: { 'has-error': !isValidUserId() } ">
                                        <select class="form-control"
                                                data-bind="options: $root.members,
                                                optionsText: 'userName',
                                                optionsValue: 'userName',
                                                value: userName,
                                                optionsCaption: '(no assignee)'" required>
                                        </select>
                                    </td>
                                    <td>
                                        <a class="remove-work glyphicon glyphicon-trash" role="button" data-bind="click: $root.onClickRemoveWork"></a>
                                    </td>
                                </tr>
                                </tbody>
                                <!-- /ko -->
                            </table>
                            <!-- ko if: $root.issueDetailWorkHistoryMode() === 'edit' -->
                            <button class="add-work btn btn-primary" data-bind="click: $root.onClickAddWork">
                                <span class="glyphicon glyphicon-plus"></span> Add work history
                            </button>
                            <!-- /ko -->
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" data-dismiss="modal"
                            data-bind="click: $root.updateIssueDetail,
                            enable: $root.canUpdateIssueDetail()">Update</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Add Issue Modal -->
<div class="modal fade" id="add-issue-modal" tabindex="-1" role="dialog" aria-labelledby="add-issue-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="add-issue-modal-label">Add Issue</h4>
            </div>
            <form class="form">
                <div class="modal-body">
                    <p>
                        タスクを追加します。<br>
                        追加するタスク情報を入力してください。
                    </p>

                    <div class="form-group">
                        <label for="add-issue-title" class="control-label">
                            <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> タイトル
                        </label>
                        <input type="text" class="form-control" id="add-issue-title" placeholder="Title"
                               data-bind="value: addIssueTitle" required>
                    </div>

                    <div class="form-group">
                        <label for="add-issue-body" class="control-label">
                            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> 説明
                        </label>
                        <textarea class="form-control" rows="15" id="add-issue-body" placeholder="Body"
                                  data-bind="value: addIssueBody"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="add-issue-stage" class="control-label">
                            <span class="glyphicon glyphicon-road" aria-hidden="true"></span> Stage
                        </label>
                        <select id="add-issue-stage" class="form-control" data-bind="value: addIssueStage">
                            <option value="issue">issue</option>
                            <option value="backlog">backlog</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="add-issue-cost" class="control-label">
                            <span class="glyphicon glyphicon-scissors"></span> Cost
                        </label>
                        <select id="add-issue-cost" class="form-control" data-bind="value: addIssueCost">
                            <option value="0">Nothing selected</option>
                            <option value="1">1 (Low)</option>
                            <option value="3">3 (Middle)</option>
                            <option value="5">5 (High)</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="add-issue-labels" class="control-label">
                            <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Labels
                        </label>
                        <select id="add-issue-labels" multiple data-bind="selectPicker: addIssueLabels,
                                optionsText: 'name',
                                selectPickerOptions: {optionsArray: labels}
                                "></select>

                        <ul class="issue-labels-view" data-bind="foreach: addIssueLabels">
                            <li>
                                <span class="label label-default" data-bind="
                                        style: { color: '#' + invertMonoColor(), 'background-color':  '#' + color() },
                                        text: name">Default</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" data-dismiss="modal"
                            data-bind="click: addIssue">Add</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Assign Modal -->
<div class="modal fade" id="assign-issue-modal" tabindex="-1" role="dialog" aria-labelledby="assign-issue-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="assign-issue-modal-label">Assign Issue</h4>
            </div>
            <form class="form">
                <div class="modal-body">
                    <p>
                        Issueをアサインします。<br>
                        アサイン情報情報を入力してください。
                    </p>

                    <div class="form-group">
                        <label for="assign-issue-title" class="control-label">
                            <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> Issueのタイトル
                        </label>
                        <p class="form-control-static" id="assign-issue-title"
                           data-bind="text: $root.selectedIssue() && $root.selectedIssue().title"></p>
                    </div>

                    <div class="form-group">
                        <label for="assign-issue-body" class="control-label">
                            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> Issueの説明
                        </label>
                        <p class="form-control-static" id="assign-issue-body"
                           data-bind="text: $root.selectedIssue() && $root.selectedIssue().body"></p>
                    </div>

                    <div class="form-group">
                        <label for="assign-issue-user" class="control-label">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> アサイン対象のユーザ名
                        </label>

                        <select class="form-control" id="assign-issue-user"
                                data-bind="options: $root.canAssignMembers,
                                optionsText: 'userName',
                                optionsValue: 'userName',
                                value: $root.assignUserName,
                                optionsCaption: '(no assignee)'" required>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" data-dismiss="modal"
                            data-bind="click: $root.assignIssue">Assign</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Archive Issue Modal -->
<div class="modal fade" id="archive-issue-modal" tabindex="-1" role="dialog" aria-labelledby="archive-issue-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="archive-issue-modal-label">Archive Issue</h4>
            </div>
            <form class="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="archve-issue-title" class="control-label">
                            <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> Issueのタイトル
                        </label>
                        <p class="form-control-static" id="archve-issue-title"
                           data-bind="text: $root.selectedIssue() && $root.selectedIssue().title"></p>
                    </div>

                    <div class="form-group">
                        <label for="archve-issue-body" class="control-label">
                            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> Issueの説明
                        </label>
                        <p class="form-control-static" id="archve-issue-body"
                           data-bind="text: $root.selectedIssue() && $root.selectedIssue().body"></p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" data-dismiss="modal"
                            data-bind="click: $root.removeIssueWithSelected">Archive</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Project Settings Modal -->
<div class="modal fade" id="project-settings-modal" tabindex="-1" role="dialog" aria-labelledby="project-settings-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="project-settings-modal-label">Project settings</h4>
            </div>
            <div class="modal-body">
                <!-- ko with: $root.project -->
                <form class="form">
                    <div class="form-group">
                        <label for="project-settings-name" class="control-label">
                            <span class="glyphicon glyphicon-blackboard"> Name</span>
                        </label>
                        <p class="form-control-static" id="project-settings-name" data-bind="text: name"></p>
                    </div>

                    <!-- ko if: github() -->
                    <div class="form-group">
                        <label for="project-settings-github-link" class="control-label">
                            <span class="glyphicon glyphicon-link"> GitHub</span>
                        </label>
                        <p><a class="form-control-static" id="project-settings-github-link" target="_blank" data-bind="
                            text: github().userName() + '/' + github().repoName(),
                            attr: { href: github().url } "></a></p>
                    </div>

                    <div class="form-group">
                        <label for="project-settings-github-sync-enabled" class="control-label">
                            <span class="glyphicon glyphicon-blackboard"> 同期</span>
                        </label>
                        <p>
                            <!--<input class="switch" id="project-settings-github-sync-enabled" type="checkbox"-->
                                   <!--data-size="mini" data-bind="checked: github().sync">-->
                            <!-- ko if: $root.project.github().sync -->
                            <span class="label label-primary">同期ON</span>
                            <!-- /ko -->
                            <!-- ko ifnot: $root.project.github().sync -->
                            <span class="label label-default">同期OFF</span>
                            <!-- /ko -->
                            <span class="text-warning">現在システム上で変更できません。変更をしたい場合は管理者へお問い合わせください。</span>
                        </p>
                    </div>
                    <!-- /ko -->
                </form>
                <!-- /ko -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success" data-dismiss="modal"
                        data-bind="click: $root.updateUserSettings">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- Members Settings Modal -->
<div class="modal fade" id="members-settings-modal" tabindex="-1" role="dialog" aria-labelledby="members-settings-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="members-settings-modal-label">Members settings</h4>
            </div>
            <div class="modal-body">
                <!-- ko with: $root.project -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>WIP</th>
                            <th>Order</th>
                            <th>Visible</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ko foreach: members -->
                        <tr>
                            <td><img data-bind="attr: { src: avatarUrl }" src="" width="24" height="24"></td>
                            <td data-bind="text: userName"></td>
                            <td data-bind="text: wip() + '/' + wipLimit()"></td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-xs btn-default" data-bind="click: $root.updateMemberOrderUp">
                                        <span class="glyphicon glyphicon-triangle-top"></span>
                                    </button>
                                    <button type="button" class="btn btn-xs btn-default" data-bind="click: $root.updateMemberOrderDown">
                                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                                    </button>
                                </div>
                            </td>
                            <td>
                                <input type="checkbox" data-bind="checked: visible, click: $root.onClickMemberVisibleCheckBox" />
                            </td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>

                <!-- Member Add -->
                <form class="form">
                    <div class="input-group">
                        <input type="text" class="form-control" id="add-member-username" placeholder="User Name"
                               data-bind="value: $root.addMemberUserName" required>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-success" type="submit" data-bind="click: $root.addMember">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add
                            </button>
                        </span>
                    </div>
                </form>

                <!-- /ko -->
            </div>
        </div>
    </div>
</div>

<!-- User Settings Modal -->
<div class="modal fade" id="user-settings-modal" tabindex="-1" role="dialog" aria-labelledby="user-settings-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="user-settings-modal-label">User settings</h4>
            </div>
            <!-- ko if: $root.selectedMember -->
            <!-- ko with: $root.selectedMember -->
            <form class="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="user-settings-name" class="control-label">
                            <span class="glyphicon glyphicon-blackboard"></span> Name
                        </label>
                        <p class="form-control-static" id="project-settings-user" data-bind="text: userName"></p>
                    </div>

                    <div class="form-group">
                        <label for="user-settings-wip" class="control-label">
                            <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> 仕掛タスク数
                        </label>
                        <p class="form-control-static" id="user-settings-wip">
                            <span data-bind="text: wip() + '/' + $root.settingsWipLimit()"></span>
                        </p>
                        <p class="alert alert-warning" data-bind="visible: wip() >= $root.settingsWipLimit()">
                            <span class="glyphicon glyphicon-warning-sign"></span> WIP制限に達しています。
                        </p>
                    </div>

                    <div class="form-group">
                        <label for="user-settings-wip-limit" class="control-label">
                            <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> WIP制限量
                        </label>
                        <input type="number" class="form-control" id="user-settings-wip-limit" placeholder="WIP Limit" min="0"
                               data-bind="value: $root.settingsWipLimit, valueUpdate: 'input'" required>
                        <p class="alert alert-danger" data-bind="visible: wip() > $root.settingsWipLimit()">
                            <span class="glyphicon glyphicon-warning-sign"></span> WIP制限を超過しています
                        </p>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-danger remove-member-button"
                                data-toggle="modal" data-target="#delete-member-modal"
                                data-bind="attr: { disabled: wip() > 0 }, click: $root.onClickDeleteMember">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" data-dismiss="modal" data-bind="
                    click: $root.updateMemberWipLimit,
                    enable: wip() <= $root.settingsWipLimit()">
                        Update
                    </button>
                </div>
            </form>
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</div>

<!-- Delete Member Modal -->
<div class="modal fade" id="delete-member-modal" tabindex="-1" role="dialog" aria-labelledby="delete-member-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-member-modal-label">Archive Issue</h4>
            </div>
            <form class="form">
                <div class="modal-body">
                    <p>
                        本当にメンバーを削除しますか？
                    </p>

                    <!-- ko if: $root.selectedMember -->
                    <div class="form-group">
                        <label for="user-settings-name" class="control-label">
                            <span class="glyphicon glyphicon-blackboard"></span> Name
                        </label>
                        <p class="form-control-static" id="project-settings-user" data-bind="text: $root.selectedMember().userName"></p>
                    </div>
                    <!-- /ko -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" data-dismiss="modal"
                            data-bind="click: $root.removeMember">Delete</button>
                </div>
            </form>

        </div>
    </div>
</div>


<!-- Archive all Modal -->
<div class="modal fade" id="archive-all-modal" tabindex="-1" role="dialog" aria-labelledby="archive-all-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="archive-all-modal-label">Archive all issues</h4>
            </div>
            <form class="form">
                <div class="modal-body">
                    <p>
                        DoneステージのすべてのタスクをArchiveしますか？
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" data-dismiss="modal"
                            data-bind="click: $root.archiveAllIssues">Archive</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Project Labels Modal -->
<div class="modal fade" id="project-labels-modal" tabindex="-1" role="dialog" aria-labelledby="project-labels-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="project-labels-modal-label">Project Labels</h4>
            </div>
            <div class="modal-body">
                <!-- ko with: $root.labels -->
                <ul class="project-labels" data-bind="foreach: $root.labels">
                    <li>
                        <span class="label label-default" data-bind="
                                style: { color: '#' + invertMonoColor(), 'background-color':  '#' + color() },
                                text: name">Default</span>
                    </li>
                </ul>
                <!-- /ko -->
                <!-- ko if: $root.project.github -->
                <div>
                    <a data-bind="attr: {href: $root.project.github().url() + '/labels' }" target="_blank">Edit</a>
                    <p class="help-block">※ラベルリストは5分間隔で更新しています。</p>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>


<!-- Project stats Modal -->
<div class="modal fade" id="project-stats-modal" tabindex="-1" role="dialog" aria-labelledby="project-stats-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="project-stats-modal-label">Project Stats</h4>
            </div>
            <div class="modal-body">
                <div class="iteration-member-stats">
                    <h3>イテレーションごとメンバーごとの実働時間</h3>
                    <hint>1イテレーション=1週間で計算</hint>
                    <div class="table-responsible">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>iteration/username</th>
                                <!-- ko foreach: members -->
                                <!-- ko if: visible -->
                                <th data-bind="text: userName"></th>
                                <!-- /ko -->
                                <!-- /ko -->
                            </tr>
                            </thead>
                            <tbody>
                            <!-- ko foreach: {data: stats.iterationWorkTime, as: 'stats'} -->
                            <tr>
                                <th data-bind="text: stats.startFormat + ' - ' + stats.endFormat"></th>
                                <!-- ko foreach: {data: $root.members, as: 'user'} -->
                                <!-- ko if: user.visible -->
                                <td data-bind="text: stats.users[user.userName()].format"></td>
                                <!-- /ko -->
                                <!-- /ko -->
                            </tr>
                            <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
                <div class="label-stats">
                    <h3>ラベルごとの合計実働時間</h3>
                    <div class="table-responsible">
                        <table class="table">
                            <thead>
                            <tr><th>label name</th><th>time</th></tr>
                            </thead>
                            <tbody>
                            <!-- ko foreach: stats.totalTimeLabels -->
                            <tr>
                                <td data-bind="text: name"></td>
                                <td data-bind="text: format"></td>
                            </tr>
                            <!-- /ko -->
                            <tr>
                                <td>(Total)</td>
                                <td data-bind="text: stats.totalTimeFormat"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- include javascripts -->
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="/vendor/jquery.easing/js/jquery.easing.min.js"></script>
<script src="/vendor/marked/marked.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/vendor/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
<script src="/vendor/lodash/lodash.min.js"></script>
<script src="/vendor/knockoutjs/dist/knockout.js"></script>
<script src="/vendor/knockout-sortable/build/knockout-sortable.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/vendor/eventemitter2/lib/eventemitter2.js"></script>
<script src="/vendor/knockout-bootstrap/build/knockout-bootstrap.min.js"></script>
<script src="/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="/vendor/bootstrap-markdown/js/bootstrap-markdown.js"></script>
<script src="/vendor/bootstrap-markdown/locale/bootstrap-markdown.ja.js"></script>
<script src="/vendor/moment/moment.js"></script>

<script src="/javascripts/module/knockout/knockout-selectPicker.js"></script>
<script src="/javascripts/module/knockout/knockout-bootstrap-switch.js"></script>
<script src="/javascripts/module/util.js"></script>
<script src="/javascripts/module/localStorage.js"></script>
<script src="/javascripts/model/Socket.js"></script>
<script src="/javascripts/model/stageTypes.js"></script>
<script src="/javascripts/model/Label.js"></script>
<script src="/javascripts/model/Issue.js"></script>
<script src="/javascripts/model/Work.js"></script>
<script src="/javascripts/model/User.js"></script>
<script src="/javascripts/model/Project.js"></script>
<script src="/javascripts/model/Projects.js"></script>
<script src="/javascripts/model/ProjectStats.js"></script>
<script src="/javascripts/view/effects.js"></script>
<script src="/javascripts/view/miniMenu.js"></script>
<script src="/javascripts/view/scroller.js"></script>
<script src="/javascripts/viewmodel/DraggableIssueList.js"></script>
<script src="/javascripts/viewmodel/Alert.js"></script>
<script src="/javascripts/viewmodel/Kanban.js"></script>
<script src="/javascripts/viewmodel/AlertHub.js"></script>
<script src="/javascripts/roots/kanban.js"></script>

</body>
</html>
