<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/kanban.css'/>
</head>
<body>

<% include _header %>

<div class="main">
    <div class="container">
        <h1><%= displayTitle %></h1>
    </div>

    <div class="blocks">
        <ul class="stage-blocks">
            <li id="issues-block" class="stage-block">
                <h2 class="stage-title">Issues</h2>

                <div class="issue-block-header">
                    <button type="button" class="btn btn-sm btn-default"
                            data-toggle="modal" data-target="#add-issue-modal">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add issue
                    </button>
                </div>

                <ul class="cell-block" data-bind="
                foreach: {
                    data: noAssignedIssues,
                    afterRender: view.MiniMenu.init,
                    afterAdd: view.effects.slideDown,
                    beforeRemove: view.effects.slideUp },
                event: {
                    dragover: $root.dragAndDrop.ondragover,
                    drop: $root.dragAndDrop.ondrop.bind(null, null) }">
                    <% include _card %>
                </ul>
            </li>

            <% stages.forEach(function (stage) { %>

            <li id="<%= stage.name %>-block" class="stage-block">
                <h2 class="stage-title"><%= stage.displayName %></h2>
                <ul class="cell-block" data-bind="foreach: {
                data: members,
                afterAdd: view.effects.slideDown,
                beforeRemove: view.effects.slideUp }">
                    <li class="dummy-user-cell-block"></li>
                </ul>
            </li>

            <% }); %>
        </ul>

        <div class="user-block-area">
            <div class="user-area-header">
                <button type="button" class="btn btn-sm btn-default"
                        data-toggle="modal" data-target="#add-member-modal">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Add member
                </button>
            </div>

            <ul class="user-blocks" data-bind="foreach: {
                    data: members,
                    as: 'member',
                    afterAdd: view.effects.slideDown,
                    beforeRemove: view.effects.slideUp }">
                <li class="user-block">
                    <p class="user-name">
                        <button type="button" class="close" aria-label="Close" data-bind="click: $root.removeMember">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <span data-bind="text: userName"></span>
                    </p>

                    <ul class="stage-blocks" data-bind="foreach: { data: <%= stageNamesJSON %>, as: 'stage' }">
                        <li class="stage-block">
                            <div class="user-cell-block">
                                <ul class="card-list" data-bind="
                                foreach: {
                                    data: member[stage].slice(0, 2),
                                    afterRender: view.MiniMenu.init,
                                    afterAdd: view.effects.slideDown,
                                    beforeRemove: view.effects.slideUp },
                                event: {
                                    dragover: $root.dragAndDrop.ondragover,
                                    drop: $root.dragAndDrop.ondrop.bind(this, member) }">
                                    <% include _card %>
                                </ul>

                                <a href="#" class="each-all-issues-view-button" data-bind="
                                click: $root.decideViewEachAllIssues.bind(this, member, stage),
                                visible: member[stage]().length > 2">
                                    view all issues...
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

    <% include alert %>
</div>

<!-- Issue Detail Modal -->
<div class="modal fade" id="issue-detail-modal" tabindex="-1" role="dialog" aria-labelledby="issue-detail-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="issue-detail-modal-label">Issue Detail</h4>
            </div>
            <form class="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="issue-detail-title" class="control-label">タイトル</label>
                        <input type="text" class="form-control" id="issue-detail-title" placeholder="Title"
                           data-bind="value: $root.updateIssueDetailTitle">
                    </div>

                    <div class="form-group">
                        <label for="issue-detail-body" class="control-label">説明</label>
                        <textarea class="form-control" rows="3" id="issue-detail-body" placeholder="Body"
                                  data-bind="value: $root.updateIssueDetailBody"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="issue-detail-stage" class="control-label">Stage</label>
                        <p class="form-control-static" id="issue-detail-stage"
                           data-bind="text: $root.selectedIssue() && $root.selectedIssue().stage"></p>
                    </div>

                    <div class="form-group">
                        <label for="issue-detail-assign" class="control-label">Assign</label>
                        <p class="form-control-static" id="issue-detail-assign"
                           data-bind="text: $root.selectedIssue() && $root.selectedIssue().assigneeUserName"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" data-dismiss="modal"
                            data-bind="click: $root.updateIssueDetail">Update</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Add Member Modal -->
<div class="modal fade" id="add-member-modal" tabindex="-1" role="dialog" aria-labelledby="add-member-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="add-member-modal-label">Add Member</h4>
            </div>
            <form class="form">
                <div class="modal-body">
                    <p>
                        メンバーを追加します。<br>
                        追加するメンバー情報を入力してください。
                    </p>
                    <div class="form-group">
                        <label for="add-member-username" class="control-label">GitHubのユーザ名</label>
                        <input type="text" class="form-control" id="add-member-username" placeholder="GitHub User Name"
                               data-bind="value: addMemberUserName" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" data-dismiss="modal"
                            data-bind="click: addMember">Add</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Add Issue Modal -->
<div class="modal fade" id="add-issue-modal" tabindex="-1" role="dialog" aria-labelledby="add-issue-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="add-issue-modal-label">Add Issue</h4>
            </div>
            <form class="form">
                <div class="modal-body">
                    <p>
                        Issueを追加します。<br>
                        追加するIssue情報を入力してください。
                    </p>

                    <div class="form-group">
                        <label for="add-issue-title" class="control-label">タイトル</label>
                        <input type="text" class="form-control" id="add-issue-title" placeholder="Title"
                               data-bind="value: addIssueTitle" required>
                    </div>

                    <div class="form-group">
                        <label for="add-issue-body" class="control-label">説明</label>
                        <textarea class="form-control" rows="3" id="add-issue-body" placeholder="Body"
                               data-bind="value: addIssueBody"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" data-dismiss="modal"
                            data-bind="click: addIssue">Add</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Assign Modal -->
<div class="modal fade" id="assign-issue-modal" tabindex="-1" role="dialog" aria-labelledby="assign-issue-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="assign-issue-modal-label">Assign Issue</h4>
            </div>
            <form class="form">
                <div class="modal-body">
                    <p>
                        Issueをアサインします。<br>
                        アサイン情報情報を入力してください。
                    </p>

                    <div class="form-group">
                        <label for="assign-issue-title" class="control-label">Issueのタイトル</label>
                        <p class="form-control-static" id="assign-issue-title"
                           data-bind="text: $root.selectedIssue() && $root.selectedIssue().title"></p>
                    </div>

                    <div class="form-group">
                        <label for="assign-issue-body" class="control-label">Issueの説明</label>
                        <p class="form-control-static" id="assign-issue-body"
                           data-bind="text: $root.selectedIssue() && $root.selectedIssue().body"></p>
                    </div>

                    <div class="form-group">
                        <label for="assign-issue-user" class="control-label">アサイン対象のユーザ名</label>

                        <select class="form-control" id="assign-issue-user"
                                data-bind="options: $root.members(),
                                optionsText: 'userName',
                                optionsValue: 'userName',
                                value: $root.assignUserName,
                                optionsCaption: '(no assignee)'" required>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" data-dismiss="modal"
                            data-bind="click: $root.assignIssue">Assign</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- view all issues -->
<div class="each-all-issues-view-area-wrap" data-bind="css: { show: $root.viewEachAllIssues }">
    <div class="each-all-issues-view-area-back"
         data-bind="css: { show: $root.viewEachAllIssues },
         click: $root.viewEachAllIssues.bind(null, null)"></div>
    <div class="each-all-issues-view-area" data-bind="click: $root.viewEachAllIssues.bind(null, null)">
        <!-- ko if: $root.viewEachAllIssues -->
        <!-- ko with: $root.viewEachAllIssues() -->
        <div class="each-all-issues-view-inner-area">
            <h3 class="each-all-issues-view-title" data-bind="text: member.userName + '\'s ' + stage"></h3>

            <ul class="card-list" data-bind="
            foreach: {
                data: issues,
                afterRender: view.MiniMenu.init,
                afterAdd: view.effects.slideDown,
                beforeRemove: view.effects.slideUp }">
                <% include _card %>
            </ul>
        </div>
        <!-- /ko -->
        <!-- /ko -->
    </div>
</div>

<!-- include javascripts -->
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/jquery.easing/js/jquery.easing.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/vendor/underscore/underscore-min.js"></script>
<script src="/vendor/knockoutjs/dist/knockout.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script src="/javascripts/module/util.js"></script>
<script src="/javascripts/model/Issue.js"></script>
<script src="/javascripts/model/User.js"></script>
<script src="/javascripts/model/Project.js"></script>
<script src="/javascripts/model/Projects.js"></script>
<script src="/javascripts/view/effects.js"></script>
<script src="/javascripts/view/MiniMenu.js"></script>
<script src="/javascripts/viewmodel/Alert.js"></script>
<script src="/javascripts/viewmodel/Kanban.js"></script>
<script src="/javascripts/viewmodel/IssueDragAndDrop.js"></script>
<script src="/javascripts/roots/kanban.js"></script>

</body>
</html>
